
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>
<title>Mvc Kütüphane Sistemi</title>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: Tahoma, Times, serif;
        }

        .sidebar {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 16px;
        }

            .sidebar a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 19px;
                color: white;
                display: block;
            }

                .sidebar a:hover {
                    color: sandybrown;
                }

        .main {
            margin-left: 200px; /* Same as the width of the sidenav */
            padding: 0px 10px;
        }

        @@media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

                .sidebar a {
                    font-size: 18px;
                }
        }
    </style>
</head>
<body>

    <div class="sidebar">
        <a href="#home"><i class="fa fa-fw fa-home"></i> Ana Sayfa</a>
        <a href="/Category/Index"><i class="fa fa-briefcase"></i> Kategoriler</a>
        <a href="/Book/Index"><i class="fa fa-book"></i> Kitaplar</a>
        <a href="/Writer/Index"><i class="fa fa-pencil"></i> Yazarlar</a>
        <a href="/Member/Index"><i class="fa fa-user-circle"></i> Üyeler</a>
        <a href="/Employee/Index"><i class="fa fa-user-secret"></i> Personeller</a>
        <a href="/Loaned/Lending"><i class="fa fa-gift"></i> Ödünç Kitap Ver</a>
        <a href="/Loaned/Index"><i class="fa fa-check-square"></i> Ödünç Kitap Al</a>
        <a href="/Statistics/Index"><i class="fa fa-area-chart"></i> İstatistikler</a>
        <a href="#home"><i class="fa fa-money"></i> Kasa</a>
        <a href="/Process/Index"><i class="fa fa-exchange"></i> İşlemler</a>
        <a href="#home"><i class="fa fa-picture-o"></i> Galeri</a>
        <a href="/Showcase/Index"><i class="fa fa-eye"></i> Vitrin</a>
        <a href="#home"><i class="fa fa-cog"></i> Ayarlar</a>
        <a href="#home"><i class="fa fa-info"></i> Yardım</a>
        <a href="#home"><i class="fa fa-sign-out"></i> Çıkış</a>

    </div>

    <div class="main">
        @RenderBody()
    </div>

</body>
</html>
