
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayaoutPanel.cshtml";
}

<h2>Index</h2>

<table class="table table-hover">
    <tr>
        <td>
            Mail Adresi:  @HttpContext.Current.User.Identity.Name
        </td>
    </tr>
    <tr>
        <td>
            Ad : @Session["Ad"].ToString();
        </td>
    </tr>
    <tr>
        <td>Soyad :</td>
    </tr>
    <tr>
        <td>Kullanıcı Adı : </td>
    </tr>
    <tr>
        <td>Şifre : </td>
    </tr>
    <tr>
        <td>Okul : </td>
    </tr>
    <tr>
        <td><button class="btn btn-warning">Güncelle</button></td>
    </tr>
</table>

